/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:1200px;
	height:auto;
	margin: 0 auto;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
	display: block;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	display: block;
	text-decoration: none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
/*.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}*/


.nivo-directionNav a {
	opacity: 0;
	transition: opacity .3s;
	position:absolute;
	top: 50%;
	margin-top: -29.5px;
	z-index:9;
	cursor:pointer;
	display: block;
	width: 25px;
	height: 49px;
	text-indent: -99px; 
	overflow: hidden;
}

.slider-wrapper:hover .nivo-directionNav a { opacity: 1; }

.nivo-prevNav {
	background-image: url(../images/arrows.gif);
	background-position: -3px 0;
	background-repeat: no-repeat;
    left: -50px;
}
.nivo-nextNav {
    background-image: url(../images/arrows.gif);
	background-position: -33px 0;
	background-repeat: no-repeat;
    right: -50px;
}



/* Control nav styles (e.g. 1,2,3...) */

/*
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
*/


.nivo-controlNav {
	opacity: 0;
	transition: opacity .3s;
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 10;
	padding: 4px 16px;
	border-radius: 20px;
	background-color: rgba(0,0,0,.35);
	filter:alpha(opacity=35);
	font-size: 0;
}
.nivo-controlNav a {
	padding: 5px;
	display: inline-block;
	cursor: pointer;
}
.nivo-controlNav a span {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background-color: rgba(255,255,255,.5);
	filter:alpha(opacity=50);
	transition: width .3s ease-out;
}
.nivo-controlNav a.active span {
	width: 30px; 
}
.slider-wrapper:hover .nivo-controlNav {
	opacity: 1;
}




